.calculator-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;

}



.calculator{
    width: 260px;
    background:#1e1e1e;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

#number-input,
#result{
    width: 100%;
    height: 45px;
    margin-bottom: 8px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    text-align: right;
}

#number-input {
    background: #000;
    color: #fff;
}
#result{
    background: #000;
    color: #0f0;
}
.cal-buttons{
    background: #333;
    color: white;
    margin: 5px;
    height:45px;
    border-radius: 12px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    user-select:none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    transition: all 0.2s ease;
}
.cal-buttons {
    position: relative;
    overflow: hidden;
}
.cal-buttons:hover{
    background-color: #555;
    transform: scale(1.05);
}

.cal-buttons:active{
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);

}
.operator{
    background-color: #ff9500;
    color:white;
}
.operator:hover{
    background-color:#ffa733;
}